@import "tailwindcss";

@font-face {
  font-family: "Aclonica";
  src: url("/fonts/Aclonica-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("/fonts/HelveticaNeue-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "LGVAnastasia";
  src: url("/fonts/hinted-LGVAnastasia-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeueMedium";
  src: url("/fonts/HelveticaNeueMedium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.font-helveticaneue-regular {
  font-family: "HelveticaNeue", sans-serif;
}

.font-helveticaneue-medium {
  font-family: "HelveticaNeueMedium", sans-serif;
}

.font-aclonica-regular {
  font-family: "Aclonica", sans-serif;
}

.font-lgvanastasia-regular {
  font-family: "LGVAnastasia", sans-serif;
}
