@import "tailwindcss";

@theme {
  --breakpoint-3xl: 1920px;
}

@font-face {
  font-family: "Aclonica";
  src: url("/fonts/Aclonica-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("/fonts/HelveticaNeue-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "LGVAnastasia";
  src: url("/fonts/hinted-LGVAnastasia-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeueMedium";
  src: url("/fonts/HelveticaNeueMedium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SpaceGrotesk-Bold";
  src: url("/fonts/SpaceGrotesk-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.font-helveticaneue-regular {
  font-family: "HelveticaNeue", sans-serif;
}

.font-helveticaneue-medium {
  font-family: "HelveticaNeueMedium", sans-serif;
}

.font-aclonica-regular {
  font-family: "Aclonica", sans-serif;
}

.font-lgvanastasia-regular {
  font-family: "LGVAnastasia", sans-serif;
}

.font-spacegrotesk-bold {
  font-family: "SpaceGrotesk-Bold", sans-serif;
}

.marquee {
  height: 100%;
  overflow: hidden;
  position: relative;
}

.marquee-inner {
  display: flex;
  flex-direction: column;
  gap: 24px; /* XL gap between items */
  animation: scrollUp 10s linear infinite;
}

.marquee-inner-scrollDown {
  display: flex;
  flex-direction: column;
  gap: 24px; /* XL gap between items */
  animation: scrollDown 10s linear infinite;
}

.marquee-inner:hover {
  animation-play-state: paused;
}

@keyframes scrollUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes scrollDown {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}
